div(id=searchInputId)
  div(class="input-group col-md-12")
    input(type="text", class="form-control search-input", placeholder=searchInputPlaceHolder)
    span(class="input-group-btn")
      button(class="btn btn-info")
        i(class="fa fa-search")
