@import "bootstrap/dist/css/bootstrap.min.css"
@import "font-awesome/css/font-awesome.min.css"
@import "includes/icons"
@import "includes/sidebar"

bkgdcolor = #2481A3

body
  background bkgdcolor
  padding-top 4em
  overflow-wrap break-word

img
  width auto
  max-width 100%

table
  background #fff
