doctype html
html
  head
    title Console Output
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/console.css")
  body
    pre.console
    p
      i.fa(class="fa-spinner fa-pulse")
  script(src="/socket.io/socket.io.js")
  script(src="js/console.js")
