doctype html
html
  head
    title Console Output
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/main.css")
  body
    .console
  script(src="/socket.io/socket.io.js")
  script(src="js/console.js")
