extends ./layout.jade

block title
    title Lybica Dashboard

block content
    table(class="table table-hover")
        thead
            tr
                th Status
                th Build
                th Test Plan
                th Env
                th Triggered By
                th Triggered At
        tbody

block script
    script(src="js/taskqueue.js")
