extends ./layout.jade

block title
  title Lybica Dashboard

block content
  div.row
    div.col-md-8
      button(class="btn btn-default active", href="javascript:void(0)")#activeTasksBtn Active
      button(class="btn btn-default", href="javascript:void(0)")#doneTasksBtn Done
    div.col-md-4
      - var searchInputId = "taskSearchInput"
      - var searchInputPlaceHolder = "ID, Plan Name ..."
      include ./includes/searchinput.jade
  - var columns = ["Status", "Build", "Test Plan", "Env", "Triggered By", "Triggered At", "#"]
  include ./includes/table.jade

block script
  script(src="js/taskqueue.js")
