extends ./layout.jade
include ./includes/searchinput.jade
include ./includes/table.jade

block title
  title Lybica Dashboard

block sidebar
  li
    a(href="javascript:void(0)")#testingBuildLink Testing Build: TL15A_123414_23443_1234
    +progressbar-striped(40, 15)
  li
    a(href="javascript:void(0)")#lastDoneBuildLink Last Finished Build: TL15A_123414_23422_1234
    +progressbar(60, 40)
  li
    a(href="javascript:void(0)")#runningTasksLink
      | Running Tasks
      span.badge#runningTaskCount 32
    a(href="javascript:void(0)")#pendingTasksLink
      | Pending Tasks
      span.badge#pendingTaskCount 5
    a(href="javascript:void(0)")#idleDevicesLink
      | Idle Devices
      span.badge#idleDevicesCount 112

block content
  .row
    .col-md-8
      button(class="btn btn-default active", href="javascript:void(0)")#activeTasksBtn Active
      button(class="btn btn-default", href="javascript:void(0)")#doneTasksBtn Done
    .col-md-4
      +searchinput("taskSearchInput", "ID, Plan Name ...")
  +table({class: "col-sm-1", name: "Status"}, {class: "col-sm-3", name: "Build"}, {class: "col-sm-2", name: "Test Plan"}, {class: "col-sm-2", name: "Env"}, {class: "col-sm-2", name: "Triggered By"}, {class: "col-sm-2", name: "Triggered At"}, {class: "col-sm-1", name: "#"})#planTable

block script
  script(src="js/taskqueue.js")
