extends ./layout.jade

block title
  title Lybica Dashboard

block content
  div(class="row")
    div(class="col-md-8")
      button(class="btn btn-default active", href="javascript:void(0)")#activeTasksBtn Active
      button(class="btn btn-default", href="javascript:void(0)")#doneTasksBtn Done
    div(class="col-md-4")
      div#taskSearchInput
        div(class="input-group col-md-12")
          input(type="text", class="form-control", placeholder="ID, Plan Name ...")
          span(class="input-group-btn")
            button(class="btn btn-info")
              i(class="fa fa-search")
  table(class="table table-hover")
    thead
      tr
        th Status
        th Build
        th Test Plan
        th Env
        th Triggered By
        th Triggered At
        th #
    tbody

block script
  script(src="js/taskqueue.js")
