extends ./layout.jade
include ./includes/searchinput.jade
include ./includes/table.jade

block title
  title Lybica Dashboard

block content
  .row
    .col-md-8
      button(class="btn btn-default active", href="javascript:void(0)")#activeTasksBtn Active
      button(class="btn btn-default", href="javascript:void(0)")#doneTasksBtn Done
    .col-md-4
      +searchinput("taskSearchInput", "ID, Plan Name ...")
  +table("Status", "Build", "Test Plan", "Env", "Triggered By", "Triggered At", "#")

block script
  script(src="js/taskqueue.js")
