doctype html
html
    head
        block title
            title Lybica
        meta(charset="utf-8")
        link(rel="stylesheet", href="css/main.css")
    body
        nav(class="navbar navbar-default navbar-fixed-top", role="banner")
            div(class="container-fluid")
                div(class="navbar-header")
                    a(href="/", class="navbar-brand")
                        i(class="fa fa-home")
                        | Lybica
                        sup beta
                nav(class="collapse navbar-collapse", role="navigation")
                    ul(class="nav navbar-nav")
                        li
                            a(href="/testplan.html")#testPlanLink
                                i(class="fa fa-map-o")
                                | Test Plan
                        li
                            a(href="/resourcemgr.html")#resourceMgrLink
                                i(class="fa fa-laptop")
                                | Resource Manager
                        li
                            a(href="/testscheduler.html")#testSchedulerLink
                                i(class="fa fa-calendar-check-o")
                                | Test Scheduler
                        li
                            a(href="/testreport.html")#testReportLink
                                i(class="fa fa-area-chart")
                                | Test Report
                        li
                            a(href="/swbuild.html")#swBuildLink
                                i(class="fa fa-diamond")
                                | SW Build
                        li
                            a(href="/testagent.html")#testAgentLink
                                i(class="fa fa-server")
                                | Test Agent
                    div(class="navbar-form navbar-right")#loginForm
                        span(class="text-danger")#loginError
                        input(type="text", class="form-control", placeholder="NSN account")#loginUser
                        input(type="password", class="form-control", placeholder="password")#loginPasswd
                        button(class="btn btn-sm btn-default", data-loading-text="<i class='fa fa-spinner fa-pulse fa-large'></i>")#loginBtn Sign In
        div(class="container-fluid")
            div(class="row")
                div(class="col-sm-3")
                    div(class="sidebar-nav")
                        div(class="sidebar-nav navbar navbar-default", role="navigation")
                            div(class="navbar-collapse collapse sidebar-navbar-collapse")
                                ul(class="nav navbar-nav")
                                    li
                                        a(href="javascript:void(0)")#testingBuildLink Testing Build: TL15A_123414_23443_1234
                                        div(class="progress progress-striped")
                                            div(class="progress-bar progress-bar-success", style="width: 40%")
                                                div(class="sr-only") PASS (40%)
                                            div(class="progress-bar progress-bar-danger", style="width: 15%")
                                                div(class="sr-only") FAILED (15%)
                                    li
                                        a(href="javascript:void(0)")#lastDoneBuildLink Last Finished Build: TL15A_123414_23422_1234
                                        div(class="progress")
                                            div(class="progress-bar progress-bar-success", style="width: 60%")
                                                div(class="sr-only") PASS (60%)
                                            div(class="progress-bar progress-bar-danger", style="width: 40%")
                                                div(class="sr-only") FAILED (40%)
                                    li
                                        a(href="javascript:void(0)")#runningTasksLink
                                            | Running Tasks
                                            span(class="badge")#runningTaskCount 32
                                        a(href="javascript:void(0)")#pendingTasksLink
                                            | Pending Tasks
                                            span(class="badge")#pendingTaskCount 5
                                        a(href="javascript:void(0)")#idleDevicesLink
                                            | Idle Devices
                                            span(class="badge")#idleDevicesCount 112
                div(class="col-sm-9")#content-wrapper
                    block content
    block script
        script(src="js/taskqueue.js")
