include ./includes/progressbar.jade
doctype html
html
  head
    block title
      title Lybica
    meta(charset="utf-8")
    block css
      link(rel="stylesheet", href="css/main.css")
  body
    nav(class="navbar navbar-default navbar-fixed-top", role="banner")
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/")
            i.fa(class="fa-home")
            | Lybica
            sup beta
        nav(class="collapse navbar-collapse", role="navigation")
          ul(class="nav navbar-nav")
            li
              a(href="/testplan.html")#testPlanLink
                i.fa(class="fa-tasks")
                | Test Plan
            li
              a(href="/resourcemgr.html")#resourceMgrLink
                i.fa(class="fa-laptop")
                | Resource Manager
            li
              a(href="/testscheduler.html")#testSchedulerLink
                i.fa(class="fa-calendar-check-o")
                | Test Scheduler
            li
              a(href="/testreport.html")#testReportLink
                i.fa(class="fa-area-chart")
                | Test Report
            li
              a(href="/swbuild.html")#swBuildLink
                i.fa(class="fa-diamond")
                | SW Build
            li
              a(href="/testagent.html")#testAgentLink
                i.fa(class="fa-cloud")
                | Test Agent
    .container-fluid
      .row
        .col-sm-3
          .sidebar-nav
            div(class="sidebar-nav navbar navbar-default", role="navigation")
              div(class="navbar-collapse collapse sidebar-navbar-collapse")
                ul(class="nav navbar-nav")
                  li
                    a(href="javascript:void(0)")#testingBuildLink Testing Build: TL15A_123414_23443_1234
                    +progressbar-striped(40, 15)
                  li
                    a(href="javascript:void(0)")#lastDoneBuildLink Last Finished Build: TL15A_123414_23422_1234
                    +progressbar(60, 40)
                  li
                    a(href="javascript:void(0)")#runningTasksLink
                      | Running Tasks
                      span.badge#runningTaskCount 32
                    a(href="javascript:void(0)")#pendingTasksLink
                      | Pending Tasks
                      span.badge#pendingTaskCount 5
                    a(href="javascript:void(0)")#idleDevicesLink
                      | Idle Devices
                      span.badge#idleDevicesCount 112
        .col-sm-9#content-wrapper
          block content
  block script
    script(src="js/taskqueue.js")
