extends ./layout.jade
include ./includes/searchinput.jade
include ./includes/table.jade

block title
  title Lybica Resource Manager

block content
  .row
    .col-md-8
      button.btn(type="submit", class="btn-success")#newDeviceBtn
        i.fa(class="fa-plus-square-o")
        | New Device
    .col-md-4
      +searchinput("deviceSearchInput", "Name, IP Addr, Tag ...")
  .row
    .col-md-12(class="hidden")#deviceEditForm
      hr
      form.form-horizontal
        .form-group
          label(class="col-sm-2 control-label") Name
          .col-sm-10
            input.form-control(type="text", placeholder="Unified Device Name")
        .form-group
          label(class="col-sm-2 control-label") IP Addr.
          .col-sm-10
            input.form-control(type="text", placeholder="Unified Device IP Addr.")
        .form-group
          label(class="col-sm-2 control-label") Label
          .col-sm-10
            input.form-control(type="text", placeholder="Labels")
        .form-group
          label(class="col-sm-2 control-label") Extra Fields
          .col-sm-10
            textarea.form-control(rows=5, placeholder="<KEY>=<VALUE>, one field, one line")
        .form-group
          .col-sm-10(class="col-sm-offset-2")
            button.btn(type="button", class="btn-default")#saveBtn Save
            button.btn(type="reset", class="btn-default")#cancelBtn Cancel
      hr
  +table("Status", "Name", "IP Addr.", "Build Version", "Tags", "#")

block script
  script(src="js/resourcemgr.js")
