extends ./layout.jade

block title
  title Lybica Resource Manager

block content
  - var columns = ["Status", "Name", "IP Addr.", "Build Version", "Tags", "#"]
  include ./includes/table.jade
  div
    button(type="submit", class="btn btn-success")
      i(class="fa fa-plus-square-o")
      | New Device

block script
  script(src="js/resourcemgr.js")
