extends ./layout.jade
include ./includes/searchinput.jade
include ./includes/table.jade
include ./includes/form.jade

block title
  title Lybica Resource Manager

block content
  .row
    .col-md-8
      button.btn(type="submit", class="btn-success")#newDeviceBtn
        i.fa(class="fa-plus-square-o")
        | New Device
    .col-md-4
      +searchinput("deviceSearchInput", "Name, IP Addr, Tag ...")
  .row
    .col-md-12(class="hidden")#deviceEditForm
      hr
      form.form-horizontal
        +input("Name", "text", "Unified Device Name")
        +input("IP Addr", "text", "Unified Device IP Addr")
        +input("Label", "text", "Labels")
        +textarea("Extra Fields", 5, "<KEY>=<VALUE>, one field, one line")
        +buttons([{id: "saveBtn", text: "Save", type: "button", class: "btn-default"},
          {id: "cancelBtn", text: "Cancel", type: "reset", class: "btn-default"}])
      hr
  +table("Status", "Name", "IP Addr.", "Build Version", "Tags", "#")

block script
  script(src="js/resourcemgr.js")
