extends ./layout.jade
include ./includes/table.jade

block title
  title Lybica Resource Manager

block content
  +table("Status", "Name", "IP Addr.", "Build Version", "Tags", "#")
  div
    button(type="submit", class="btn btn-success")
      i(class="fa fa-plus-square-o")
      | New Device

block script
  script(src="js/resourcemgr.js")
