extends ./layout.jade
include ./includes/searchinput.jade
include ./includes/table.jade

block title
  title Lybica SW Build

block content
  div.row
    div.col-md-4(class="col-md-offset-8")
      +searchinput("buildSearchInput", "Build Name, status...")
  +table({class: "col-sm-1", name: "Status"}, {class: "col-sm-2", name: "Build"}, {class: "col-sm-2", name: "Release"}, {class: "col-sm-4", name: "Tags"}, {class: "col-sm-2", name: "GPA"}, {class: "col-sm-1", name: "#"})#planTable

block script
  script(src="js/swbuild.js")
