extends ./layout.jade
include ./includes/searchinput.jade

block title
  title Lybica Test Scheduler

block content
  div.row
    div.col-md-4(class="col-md-offset-8")
      +searchinput("schedulerSearchInput", "Build Name, Plan Name ...")
  div.testscheduler#testScheduleCalendar

block script
  script(src="js/testscheduler.js")
