extends ./layout.jade
include ./includes/searchinput.jade
include ./includes/table.jade
include ./includes/form.jade

block title
  title Lybica Test Plan

block css
  link(rel="stylesheet", href="css/testplan.css")

block content
  .row
    .col-md-8
      button.btn(type="submit", class="btn-success")#newPlanBtn
        i.fa(class="fa-plus-square-o")
        | New Plan
    .col-md-4
      +searchinput("planSearchInput", "ID, Plan Name, Plan Tag ...")
  .row
    .col-md-12(class="hidden")#planEditForm
      hr
      form.form-horizontal
        +input("planId", "Name", "hidden", "Unified Plan ID")
        +input("planName", "Name", "text", "Unified Plan Name")
        +select("planCaseRepo", "Case Repo", [])
        +textarea("planCaseExpr", "Case Filter Expression", 5, "Set filter expression here")
        +multipleselect("planDevices", "Device Type", [])
        +multipleselect("planActions", "Actions", ["task_hook", "run_pickup"])
        +buttons([{id: "saveBtn", text: "Save", type: "button", class: "btn-default"},
          {id: "cancelBtn", text: "Cancel", type: "reset", class: "btn-default"},
          {id: "delBtn", text: "Delete", type: "button", class: "btn-danger hidden"}])
      hr
  +table({class: "col-sm-2", name: "Name"}, {class: "col-sm-7", name: "Case Set"}, {class: "col-sm-2", name: "Env"}, {class: "col-sm-1", name: "#"})#planTable

block script
  script(src="js/testplan.js")
  script(src="js/notify.min.js")
