extends ./layout.jade

block title
  title Lybica Test Plan

block content
  div(class="row")
    div(class="col-md-8")
      button(type="submit", class="btn btn-success")
        i(class="fa fa-plus-square-o")
        | New Plan
    div(class="col-md-4")
      - var searchInputId = "planSearchInput"
      - var searchInputPlaceHolder = "ID, Plan Name, Plan Tag ..."
      include ./includes/searchinput.jade
  - var columns = ["Plan Name", "Case Set", "Test Env", "#"]
  include ./includes/table.jade

block script
  script(src="js/testplan.js")
