extends ./layout.jade
include ./includes/searchinput.jade
include ./includes/table.jade

block title
  title Lybica Test Agent

block content
  div.row
    div.col-md-4(class="col-md-offset-8")
      +searchinput("agentSearchInput", "Agent Name, IP or Labels ...")
  +table("Status", "Name", "IP Addr.", "# of Runners", "Labels", "#")

block script
  script(src="js/testagent.js")
