extends ./layout.jade
include ./includes/searchinput.jade
include ./includes/table.jade
include ./includes/form.jade

block title
  title Lybica Test Plan

block css
  link(rel="stylesheet", href="css/testplan.css")

block content
  .row
    .col-md-8
      button.btn(type="submit", class="btn-success")#newPlanBtn
        i.fa(class="fa-plus-square-o")
        | New Plan
    .col-md-4
      +searchinput("planSearchInput", "ID, Plan Name, Plan Tag ...")
  .row
    .col-md-12(class="hidden")#planEditForm
      hr
      form.form-horizontal
        +input("planName", "Name", "text", "Unified Plan Name")
        +multipleselect("planLabels", "Label", ["CP", "IV"])
        +select("planCaseRepo", "Case Repo", ["", "repo1", "repo2", "trunk_repo"])
        +textarea("planCaseSet", "Case Set", 3, "case filter expression")
        +multipleselect("planDevices", "Device", ["TL1", "TL2", "TL3", "TL_Trunk"])
        +multipleselect("planActions", "Action", ["install_build", "run_robotframework_repeatly"])
        +checkbox("planParallel", "Apply to all selected devices")
        +buttons([{id: "saveBtn", text: "Save", type: "button", class: "btn-default"},
          {id: "cancelBtn", text: "Cancel", type: "reset", class: "btn-default"}])
      hr
  +table("Plan Name", "Case Set", "Test Env", "#")#planTable

block script
  script(src="js/testplan.js")
