extends ./layout.jade
include ./includes/searchinput.jade
include ./includes/form.jade
include ./includes/table.jade

block title
  title Lybica Test Trigger

block css
  link(rel="stylesheet", href="css/testtrigger.css")

block content
  .row
    .col-md-8
      button.btn(type="submit", class="btn-success")#newTriggerBtn
        i.fa(class="fa-plus-square-o")
        | New Trigger
    .col-md-4
      +searchinput("triggerSearchInput", "ID, Trigger Name, Trigger Link...")
  .row
    .col-md-12(class="hidden")#triggerEditForm
      hr
      form.form-horizontal
        +input("triggerId", "Id", "hidden", "Unified Trigger ID")
        +input("triggerName", "Name", "text", "Unified Trigger Name")
        +select("triggerType", "Type", ["svn", "git", "json"])
        +input("triggerUrl", "URL", "text", "Trigger URL")
        +buttons([{id: "saveBtn", text: "Save", type: "button", class: "btn-default"},
          {id: "cancelBtn", text: "Cancel", type: "reset", class: "btn-default"},
          {id: "delBtn", text: "Delete", type: "button", class: "btn-danger hidden"}])
      hr
  +table({class: "col-sm-2", name: "Name"}, {class: "col-sm-2", name: "Type"}, {class: "col-sm-6", name: "URL"}, {class: "col-sm-1", name: "#"})#triggerTable

block script
  script(src="js/testtrigger.js")
  script(src="js/notify.min.js")
