extends ./layout.jade
include ./includes/searchinput.jade
include ./includes/table.jade

block title
  title Lybica Test Agent

block content
  div.row
    div.col-md-4(class="col-md-offset-8")
      +searchinput("agentSearchInput", "Agent Name, IP or Labels ...")
  +table({class: "col-sm-1", name: "Status"}, {class: "col-sm-2", name: "Name"}, {class: "col-sm-2", name: "IP Addr."}, {class: "col-sm-2", name: "# of Runners"}, {class: "col-sm-4", name: "Labels"}, {class: "col-sm-1", name: "#"})#planTable

block script
  script(src="js/testagent.js")
