extends ./layout.jade
include ./includes/searchinput.jade
include ./includes/table.jade
include ./includes/form.jade

block title
  title Lybica Test Plan

block css
  link(rel="stylesheet", href="css/testplan.css")
  link(rel="stylesheet", href="css/bootstrap-treeview.min.css")

block sidebar
  li
    h3 Continuous Integration
    p Continuous integration (CI) is the practice, in software engineering, of merging all developer working copies to a shared mainline several times a day. It was first named and proposed by Grady Booch in his 1991 method,[1] although Booch did not advocate integrating several times a day. It was adopted as part of extreme programming (XP), which did advocate integrating more than once per day, perhaps as many as tens of times per day.
      a(href="https://en.wikipedia.org/wiki/Continuous_integration", target="_blank")
        i.fa(class="fa-external-link")

block content
  .row
    .col-md-8
      button.btn(type="submit", class="btn-success")#newPlanBtn
        i.fa(class="fa-plus-square-o")
        | New Plan
    .col-md-4
      +searchinput("planSearchInput", "ID, Plan Name, Plan Tag ...")
  .row
    .col-md-12(class="hidden")#planEditForm
      hr
      form.form-horizontal
        +input("planId", "Id", "hidden", "Unified Plan ID")
        +input("planName", "Name", "text", "Unified Plan Name")
        .form-group
          label(class="col-sm-2 control-label") Case Set
          .col-sm-10#planCaseSet
        +multipleselect("planDevices", "Device Type", [])
        +multipleselect("planActions", "Actions", ["task_hook", "run_pickup"])
        +buttons([{id: "saveBtn", text: "Save", type: "button", class: "btn-default"},
          {id: "cancelBtn", text: "Cancel", type: "reset", class: "btn-default"},
          {id: "delBtn", text: "Delete", type: "button", class: "btn-danger hidden"}])
      hr
  +table({class: "col-sm-2", name: "Name"}, {class: "col-sm-7", name: "Case Set"}, {class: "col-sm-2", name: "Env"}, {class: "col-sm-1", name: "#"})#planTable

block script
  script(src="js/testplan.js")
  script(src="js/notify.min.js")
  script(src="js/bootstrap-treeview.min.js")
